thead {
  background-color: rgb(183, 253, 230);
}

tbody td:nth-of-type(2n+1) {
  background-color: rgb(250, 253, 208);
}

tbody td:last-child {
  background-color: rgb(221, 245, 255);
}

tbody th {
  background-color: rgb(200, 255, 200);
}
